@{
    Layout = null;
}
<style>
    .parallex {
        /* Full height */
        height: 100%;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    input::-webkit-input-placeholder {
        font-size: 35px;
        line-height: 3;
    }

    .grow {
        transition: all 2s ease-in-out;
    }

    .grow:hover {
        transform:scale(1.4);
    }
</style>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeit/5.5.0/typeit.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeit/5.5.0/typeit.min.js"></script>
    <script type="text/javascript" src="~/js/vanilla-tilt.js"></script>
</head>

<nav class="navbar navbar-expand-lg">
    <a transform: translateZ(20px) transform-style: preserve-3d class="navbar-brand" id="brand" style="font-size:250%" >NSAS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <!--Enter something for left alignment-->
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log In</button>
        </form>
    </div>
</nav>

<body>
    <div class="parallex" style="background-image: url('/images/pexels-photo-291732.jpeg');">
        <div style=" line-height:5">
            <div class="col-xs-12" style="height:10px;"></div>
            <span id="Typewriter" style="font-family:Garamond;font-size:330%;color:crimson;">&nbsp;&nbsp;&nbsp;Hello!</span>
            <input class="form-control col-md-5 grow" style="left:350; height:75; bottom:55;font-size:xx-large;" placeholder="Enter your Wnumber" /> 
        </div>
    </div>
    <div class="parallex" style="background-image: url('/images/switzerland-zermatt-mountains-snow.jpg');">
    </div>
</body>

<script>
    $(document).ready(function () {
        new TypeIt('#Typewriter', {
            speed: 350,
        })
            .type(' Welcome')
            .pause(1500)
            .delete(8)
            .type(' &#2344;&#2350;&#2360;&#2381;&#2340;&#2375;');
        $(document).ready(function () {
            console.log('ds');
        });

        VanillaTilt.init(document.querySelector("#brand"), {
            max: 25,
            speed: 400,
        });
    });
    
</script>