@{
    Layout = null;
}
<style>
    .parallex {
        /* Full height */
        overflow:hidden;
        height: 125%;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #wnumber input::-webkit-input-placeholder {
        font-size: 35px;
        line-height: 3;
    }

    .grow {
        transition: 1.7s !important;
        transition: all 2s ease-in-out !important;
    }

    .grow:hover {
        transition: 1.7s !important;
        transform: scale(1.1) !important;
        transition-duration: 1.7s !important;
     }

</style>
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeit/5.5.0/typeit.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeit/5.5.0/typeit.min.js"></script>
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
    <script type="text/javascript" src="~/js/vanilla-tilt.js"></script>
</head>

<nav class="navbar navbar-expand-lg fixed-top ">
    <a transform: translateZ(20px) transform-style: preserve-3d class="btn navbar-brand scrolldown" id="brand" data-content="top" style="font-size:350%; font-family:Garamond" >NSAS</a>
    &nbsp;&nbsp;&nbsp;
    <button class="btn btn-outline-info my-2 my-sm-0 scrolldown grow" data-content="whatwedo">What We DO?</button>&nbsp;&nbsp;&nbsp;
    <button class="btn btn-outline-warning my-2 my-sm-0 scrolldown grow" data-content="aboutus">About Us</button>&nbsp;&nbsp;&nbsp;
    <button class="btn btn-outline-danger my-2 my-sm-0 scrolldown grow" data-content="contactus">Contact Us</button>&nbsp;&nbsp;&nbsp;
    <button class="navbar-toggler grow" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <!--Enter something for left alignment-->
        </ul>
        <div class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" data-toggle="modal" data-target="#loginmodal" type="submit">Log In</button>
        </div>
    </div>
</nav>

<body>
    <!--Simple Modal for Login-->
    <div class="modal fade" id="loginmodal" tabindex="-1" role="dialog" aria-labelledby="loginmodal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title grow" id="exampleModalLabel">Log In</h5>
                    <hr />
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="form-horizontal">
                            <div class="form-group col-md-12">
                                <label  class="control-label">Email</label>
                                <input  class="form-control" type="email" id="email" placeholder="Enter Email">
                                <span class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-12">
                                <label >Password</label>
                                <input  type="password" class="form-control" id="signuppassword" placeholder="Enter password">
                                <span  class="text-danger"></span>
                            </div>
                            <label>
                                <input id="RememberMe" name="RememberMe" type="checkbox" /> Remember me <br />
                            </label>
                            <p style="float:right;"><a href="Account/ForgotPassword">Forgot Password?</a></p><br />
                        </div>
                        <div class="col-md-12">
                            <input type="submit" value="Log In" class="btn btn-lg btn-primary btn-block" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="parallex" id="top" style="background-image: url('/images/pexels-photo-291732.jpeg');">
        <div style=" line-height:5">
            @for (int i = 0; i < 20; i++)
            {
            <div class="col-xs-12" style="height:10px;"></div>
            }
            <span id="Typewriter" style="font-family:Garamond;font-size:330%;color:crimson;">&nbsp;&nbsp;&nbsp;</span>
            <div class="row">
                <div class="col-sm"></div>
                <div class="col-9">
                    <form class="form-inline">
                        <input type="text" style="height:75; font-size:45;" class="form-control grow col-md-7" id="wnumber" placeholder="Enter Wnumber"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="submit" class="btn btn-lg btn-primary mb-2 grow" style="margin-top:10;">Confirm Identity</button>
                    </form>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="alert alert-warning text-center"> First Time Users must verify their identity using their wnumber before they register</span>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
    </div>

    <!--What we do-->
    <div class="parallex" id="whatwedo" style="background-image: url('/images/buddha.jpg');">
        <hr />
        <br /><br /><br /><br />
        <div class="row">
            <div class="card grow" data-aos="fade-right" style="width: 20rem; left:70">
                <img class="card-img-top" src="~/images/people-woman-coffee-meeting.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Collaboration</h4> <hr />
                    <p class="card-text"> &nbsp;&nbsp;<strong>NSAS</strong> has been collaborating with its member since its foundation to organize different festivites within the southeasten premises.</p>
                </div>
            </div>
            <div class="card grow" data-aos="fade-left" style="width: 20rem; left:170">
                <img class="card-img-top" src="~/images/pexels-photo-461049.jpeg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Togetherness</h4> <hr />
                    <p class="card-text">&nbsp;&nbsp;<strong>NSAS</strong> is all about togetherness. Far away from home, the cultural shock and diversity can sometimes be harsh</p>
                </div>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="card grow" data-aos="slide-up" style="width: 20rem; left:72">
                <img class="card-img-top" src="~/images/team_work.jpeg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Achievement</h4> <hr />
                    <p class="card-text">&nbsp;&nbsp;<strong>NSAS</strong> is all about togetherness. Far away from the cultural shock and diversity can sometimes be harsh</p>
                </div>
            </div>
            <div class="card grow" data-aos="slide-down" style="width: 20rem; left:170">
                <img class="card-img-top" src="~/images/celebration.jpeg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Celebration</h4> <hr />
                    <p class="card-text">&nbsp;&nbsp;<strong>Dashain</strong> Thihar or Holi, You name it not one of the cultures has been forgottn here. Each celebration is celebrated with passion</p>
                </div>
            </div>
        </div>
   </div>
        <!--div class="card grow" style="width: 20rem; left:70">
            <img class="card-img-top" src="~/images/pexels-photo-461049.jpeg" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Togetherness</h4> <hr />
                <p class="card-text">NSAS is all about togetherness. Far away from the cultural shock and diversity can sometimes be harsh</p>
            </div>
        </!--div>
        <div class="card grow" style="width: 20rem;">
            <img class="card-img-top" src="~/images/success.jpg" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Togetherness</h4> <hr />
                <p class="card-text">NSAS is all about togetherness. Far away from the cultural shock and diversity can sometimes be harsh</p>
            </div>
        </div>
    </div>-->

    <!--About Us-->
    <div class="parallex" id="aboutus" style="background-image: url('/images/scene.jpeg');">

    </div>

    <!--Contact Us-->
    <div class="parallex" id="contactus" style="background-image: url('/images/swoyambhu.jpg');">

    </div>


    <!--About US-->
</body>

<script>
    $(document).ready(function () {
        new TypeIt('#Typewriter', {
            speed: 350,
        })
            .type('Hello! Welcome')
            .pause(1500)
            .delete(8)
            .type(' &#2344;&#2350;&#2360;&#2381;&#2340;&#2375;');


        VanillaTilt.init(document.querySelector("#brand"), {
            max: 25,
            speed: 400,
        });

        AOS.init({
            duration: 1500,
        });

        $(".scrolldown").click(function () {
            var where = $(this).data('content');
            $('html,body').animate({
                scrollTop: $("#"+ where).offset().top
            }, 'slow');
        });

        $(document).scroll(function () {
            $('.navbar').css({
                background: $(this).scrollTop() > 250 ? "azure" : "transparent",
                opacity: $(this).scrollTop() > 250 ? ".86" : "1",
                transition: $(this).scrollTop() > 250 ? "2s" : "1s",
                height: $(this).scrollTop() > 250 ? "6%" : "7%",
             });
        });
    });    
</script>